@import url("./base/variables.css");
@import url("./base/components.css");

@import url('https://fonts.googleapis.com/css?family=Syne%20Mono:700|Syne%20Mono:400');

*{
    font-family: "Syne Mono", system-ui;

    box-sizing: border-box;
    
    z-index: 1;
    
    color: var(--primary-color);
}

body{
    margin: 0;
    padding: 0;

    overflow: hidden;

    width: 100vw;
    height: 100vh;

    background-color: var(--def-bg-color);
}